@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  /* --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
html{
  scroll-behavior: smooth;
}

body {
  color: #f6f6f6;
  background: #F6F6F6;
}

/* button hover loading animation start  */
.custom-ease-in {
  width: 0;
  transition: width 0.5s ease-in-out;
}

button:hover .custom-ease-in {
  width: 100%;
}

a:hover .custom-ease-in {
  width: 100%;
}
/* button hover loading animation end  */

/* popup animation start */
@keyframes popUp {
  0% {
    transform: translateY(80px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-popUp {
  animation: popUp 1.2s ease-in forwards;
}
/* popup animation end  */

/* popDown animation start */
@keyframes popDown {
  0% {
    transform: translateY(-80px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-popDown {
  animation: popDown 1.2s ease-in forwards;
}
/* popDown animation end  */



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
